<app-top-bar></app-top-bar>

<ion-content>

  <ion-refresher slot="fixed" color="secondary" (ionRefresh)="retryLoad($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="loading && !errorMisMatchs" class="ion-padding">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 40%; height: 30px; margin: 10px 0;"></ion-skeleton-text>
          <ion-label class="ion-text-right" style="margin-top: 100px;">
            <ion-skeleton-text slot="end" animated
              style="margin-left: auto; width: 80%; height: 30px; border-radius: 20px;">
            </ion-skeleton-text>
          </ion-label>
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let skeleton of textSkeleton">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="errorMisMatchs" class="no-matchs-container animate__animated animate__fadeIn">
    <div class="no-matchs-description">
      <ion-icon name="sad-outline" color="danger"></ion-icon>
      <ion-text color="medium">
        <h3>Ha ocurrido un error al cargar.</h3>
      </ion-text>
      <ion-button (click)="retryLoad()" shape="round" color="danger">
        Reintentar
      </ion-button>
    </div>
  </div>

  <div *ngIf="misMatchs?.length < 1 && !loading && !errorMisMatchs"
    class="no-matchs-container animate__animated animate__fadeIn">
    <div class="no-matchs-description">
      <ion-text color="medium">
        <ion-icon name="sad-outline"></ion-icon>
        <h3>No hay resultados.</h3>
        <p>No has logrado matchear con ningún inmueble aún.</p>
      </ion-text>
    </div>
  </div>

  <div *ngIf="misMatchs?.length > 0 && !loading && !errorMisMatchs" class="ion-padding">
    <h3>Mis Matchs</h3>
    <div class="ion-text-right">
      <ion-button shape="round" color="danger" fill="outline" size="small" mode="md" (click)="deleteAllMatchs()">
        <ion-icon name="close" slot="start"></ion-icon>
        Eliminar todos los matchs
      </ion-button>
    </div>
    <br>
    <ion-list class="animate__animated animate__fadeIn">
      <ion-item *ngFor="let match of misMatchs">
        <ion-thumbnail slot="start">
          <ion-img (click)="openProduct(match.property)" [src]="match.property.images[0].url"
            class="animate__animated animate__fadeIn"></ion-img>
          <!-- <ion-skeleton-text *ngIf="!cargo" animated></ion-skeleton-text> -->
        </ion-thumbnail>
        <ion-label>
          <p (click)="openProduct(match.property)">{{match.status}}</p>
          <h3 (click)="openProduct(match.property)">{{match.property.address.address}}</h3>
          <p (click)="openProduct(match.property)">
            <ion-icon name="call-outline" slot="start"></ion-icon> {{match.property.realEstateAgency.phone}}
          </p>
          <p (click)="openProduct(match.property)">
            <ion-icon name="person" slot="start"></ion-icon> {{match.property.realEstateAgency.name}}
          </p>
          <ion-buttons>
            <ion-button size="small" color="danger" (click)="deleteMatch(match)">
              <ion-icon slot="start" name="close"></ion-icon> Eliminar
            </ion-button>
            <ion-button size="small" color="success" (click)="openChat(match)">
              <ion-icon name="chatbox-ellipses-outline" slot="start"></ion-icon> Mensaje
            </ion-button>
          </ion-buttons>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>