.delete-button{
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    position: absolute;    
}

.mensaje{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;    
}

.mi-mensaje{
    color: white;
    background: var(--ion-color-primary); 
}

.otro-mensaje{
    color: white;
    background: var(--ion-color-secondary);
}

.time{
    color: #ffffff;
    float: right;
    font-size: small;
}

.mensaje-input{
    padding: 0 10px;
    resize: none;
}
