<ion-header class="ion-no-border">
  <ion-item lines="none" color="primary">
    <ion-button style="margin-inline-end: 5px;" fill="clear" color="light" slot="start" (click)="closeModal()">
      <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-avatar slot="start">
      <ion-img [src]="chat.image" *ngIf="chat.image" [class.hidden]="!cargo" (ionImgDidLoad)="cargo = !cargo"
        class="animate__animated animate__fadeIn"></ion-img>
      <ion-skeleton-text *ngIf="!cargo && chat.image" animated></ion-skeleton-text>
      <img src="../../assets/images/user.png" *ngIf="!chat.image">
    </ion-avatar>
    <ion-label color="light">
      <h3><b>{{chat.name}}</b></h3>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <ion-infinite-scroll position="top" threshold="100px" (ionInfinite)="doRefresh($event)">
    <ion-infinite-scroll-content loadingSpinner="lines" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-grid>
    <ion-row *ngFor="let mensaje of chat.messages" class="animate__animated animate__fadeInDown animate__faster">

      <ion-col size="9" *ngIf="usuario.id !== mensaje.user_id" class="mensaje otro-mensaje">
        <span>{{mensaje.content}}</span>
        <div class="time ion-text-right">
          <br>
          {{mensaje.updated_at | date:'dd/MM/yyyy, hh:mm aa'}}
        </div>
      </ion-col>

      <ion-col offset="3" size="9" *ngIf="usuario.id === mensaje.user_id" class="mensaje mi-mensaje">
        <div class="ion-text-center" *ngIf="allIsImage(mensaje.attachments) && mensaje.attachments.length == 1">
          <img style="max-width: 100%; max-height: 40vh;" [src]="mensaje.attachments[0].url" (click)="openimagePreview(mensaje.attachments)">
        </div>

        <div class="various-img-container" *ngIf="allIsImage(mensaje.attachments) && mensaje.attachments.length > 1">
          <div class="chat-img-container" [style.backgroundImage]="'url('+ img.url +')'" *ngFor="let img of mensaje.attachments | slice:0:4; let last = last;"
            (click)="openimagePreview(mensaje.attachments)">
            <div *ngIf="last && mensaje.attachments.length > 4" class="ion-activatable ripple-parent more-img-button">
              <div>
                <ion-icon name="image" slot="start"></ion-icon>
                +{{mensaje.attachments.length - 4}}
              </div>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </div>
        </div>
        <div *ngIf="!allIsImage(mensaje.attachments)">
          <ion-item class="chat-file-container" lines="none" *ngFor="let attachment of mensaje.attachments">
            <img src="../../assets/icon/pdf.png" style="max-width: 15%" slot="start" alt="">
            <ion-label class="ion-text-wrap" color="light">
              {{attachment.name}}
            </ion-label>
            <ion-buttons slot="end">
              <ion-button [download]="attachment.url">
                <ion-icon name="arrow-down-circle-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>          
        </div>
        <span>{{mensaje.content}}</span>
        <div class="time ion-text-right">
          <br>
          {{mensaje.updated_at | date:'dd/MM/yyyy, hh:mm aa'}}
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" fill="clear" color="medium" class="mensaje-button" (click)="selectFile()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-textarea [(ngModel)]="nuevoMensaje" placeholder="Escribe un mensaje..." rows="2" class="mensaje-input">
    </ion-textarea>
    <ion-buttons slot="end">
      <ion-button expand="block" fill="clear" color="medium" class="mensaje-button" (click)="enviarMensaje()">
        <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>