<app-top-bar></app-top-bar>

<ion-content>
  <div class="ion-padding">
    <h1>Mis favoritos</h1>
    <ng-template #favoritos1>
      <div class="ion-text-center">
        <img style="max-width: 70%;" src="../../assets/images/icon-favoritos.png" alt="">
        <p><ion-text color="medium">Marca, con el corazón, tus anuncios favoritos y tenlos siempre a mano.</ion-text></p>
        <ion-button class="color_primario" mode="ios" routerLink="/tabs/tabs/buscar" routerDirection="forward" (click)="playSound()">
          <ion-icon name="heart-outline" slot="start"></ion-icon>
          Encuentra tu lugar soñado
        </ion-button>
      </div>    
    </ng-template>    
    <div *ngIf="favoritos.length > 0; else favoritos1">
      <ion-grid>      
        <ion-row *ngFor="let producto of favoritos">
          <ion-col size="5" class="ion-align-self-center">
            <img class="img-list" src="{{producto.imagenes[0]}}" alt="" (click)="openPreview(producto.imagenes[0])">
          </ion-col>
          <ion-col style="position: relative;" size="7" class="ion-align-self-center ion-activatable ripple-parent" (click)="openProduct(producto)">          
            <h4 style="margin: 0;"><ion-text color="dark">{{producto.nombre}}</ion-text></h4>
  
            <div class="atribute-container" *ngIf="producto.banos" style="display: flex; align-items: center;">
              <img class="img-icon-start" src="../../assets/icon/banos.PNG" alt="">
              <p><ion-text color="medium">Baños: {{producto.banos}}</ion-text></p>
            </div>          
  
            <div class="atribute-container" *ngIf="producto.m2" style="display: flex; align-items: center;">
              <img class="img-icon-start" src="../../assets/icon/M2.PNG" alt="">
              <p><ion-text color="medium">{{producto.m2}}m2</ion-text></p>
            </div>
  
            <div class="atribute-container" *ngIf="producto.tipoDeVivienda" style="display: flex; align-items: center;">
              <img class="img-icon-start" src="../../assets/icon/propiedad.PNG" alt="">
              <p><ion-text color="medium">{{producto.tipoDeVivienda.nombre}}</ion-text></p>
            </div>
            
            <div class="price-container" *ngIf="producto.precio">
              <p class="price"><ion-text color="secondary">${{producto.precio}}</ion-text></p>
              <ion-button color="dark" fill="clear">
                219 <ion-icon slot="end" name="heart" color="danger"></ion-icon>
              </ion-button>            
            </div>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
