<app-top-bar></app-top-bar>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="ion-padding">
    <h1>Mis favoritos</h1>
    <ng-template #favoritos1>
      <div class="ion-text-center">
        <img style="max-width: 70%;" src="../../assets/images/icon-favoritos.png" alt="">
        <p><ion-text color="medium">Marca, con el corazón, tus anuncios favoritos y tenlos siempre a mano.</ion-text></p>
        <ion-button class="color_primario" mode="ios" routerLink="/tabs/tabs/buscar" routerDirection="forward" (click)="playSound()">
          <ion-icon name="heart-outline" slot="start"></ion-icon>
          Encuentra tu lugar soñado
        </ion-button>
      </div>    
    </ng-template>    
    <div *ngIf="favoritos.length > 0; else favoritos1">
      <ion-grid>      
        <ion-row *ngFor="let producto of favoritos">
          <ion-col size="5" class="ion-align-self-center">
            <img class="img-list" src="{{producto.images[0].url}}" alt="" (click)="openPreview(producto.images[0].url)">
          </ion-col>
          <ion-col style="position: relative;" size="7" class="ion-align-self-center ion-activatable ripple-parent" (click)="openProduct(producto)">
            <h4 style="margin: 0;"><ion-text color="dark">{{producto.name}}</ion-text></h4>
  
            <div class="atribute-container" *ngIf="producto.bathrooms" style="display: flex; align-items: center;">
              <img class="img-icon-start" src="../../assets/icon/banos.PNG" alt="">
              <p><ion-text color="medium">Baños: {{producto.bathrooms}}</ion-text></p>
            </div>          
  
            <div class="atribute-container" *ngIf="producto.square_meters" style="display: flex; align-items: center;">
              <img class="img-icon-start" src="../../assets/icon/M2.PNG" alt="">
              <p><ion-text color="medium">{{producto.square_meters}}m2</ion-text></p>
            </div>
  
            <div class="atribute-container" *ngIf="producto.type" style="display: flex; align-items: center;">
              <img class="img-icon-start" src="../../assets/icon/propiedad.PNG" alt="">
              <p><ion-text color="medium">{{producto.type.name}}</ion-text></p>
            </div>
            
            <div class="price-container" *ngIf="producto.prices">
              <p class="price"><ion-text color="secondary">{{producto.prices[0].price_value}}{{producto.prices[0].currency.symbol}}</ion-text></p>
              <ion-button *ngIf="producto.is_favorite" color="dark" fill="clear" (click)="removeFromFavorite(producto)">
                {{producto.favorite_to_count}} <ion-icon slot="end" name="heart" color="danger"></ion-icon>
              </ion-button>
              <ion-button *ngIf="!producto.is_favorite" color="dark" fill="clear" (click)="addToFavorite(producto)">
                {{producto.favorite_to_count}} <ion-icon slot="end" name="heart-outline" color="danger"></ion-icon>
              </ion-button>
            </div>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
