<app-top-bar></app-top-bar>

<ion-content>
  
  <ion-list class="ion-padding">
    <ion-item button *ngFor="let notificacion of notificaciones" (click)="doSomething(notificacion)">
      <ion-icon 
      [name]="iconForNotificationType(notificacion.additional_data.computed_type).icon" 
      slot="start" 
      [color]="iconForNotificationType(notificacion.additional_data.computed_type).color"></ion-icon>
      <ion-label>
        <h3>{{notificacion.subject}}</h3>
        <p>{{notificacion.body}}</p>
        <p>{{notificacion.created_at | date:'dd/MM/yyyy, hh:mm aa'}}</p>
      </ion-label>
      <ion-icon *ngIf="!notificacion.read_at" name="ellipse" slot="end" color="secondary"></ion-icon>
    </ion-item>
  </ion-list>


  <ion-infinite-scroll position="bottom" threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="lines" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
