<app-top-bar></app-top-bar>

<ion-content class="ion-padding">
    <div class="ion-text-center">
        <div class="div-img-user">
            <img *ngIf="user.profile && user.profile.image; else invitadoImg" class="img-user"
                src="{{user.profile.image}}" alt="" (click)="openPreview(user.profile.image)">
            <ng-template #invitadoImg>
                <ion-icon name="person-circle-outline" class="img-user" color="primary"></ion-icon>
            </ng-template>
            <ion-button *ngIf="user.profile && user.profile.image;" size="small" class="button-edit color_primario" (click)="selectImage('usuario')">
                <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button>
        </div>
        <h1 *ngIf="user.profile && user.profile.firstname && user.profile.lastname; else invitadoName">
            {{user.profile.firstname}} {{user.profile.lastname}}</h1>
        <ng-template #invitadoName>
            <h1>Invitado</h1>
        </ng-template>
        <h4 *ngIf="user.email">{{user.email}}</h4>
        <p *ngIf="user.profile && user.profile.bio">{{user.profile.bio}}</p>
        <br>
        <ion-button expand="block" fill="outline" color="dark" (click)="playSound()" routerLink="/user-profile"
            routerDirection="forward" class="animate__animated animate__infinite"
            [class.animate__pulse]="user.profile == undefined">
            Completar Perfil <span *ngIf="user.profile == undefined">(importante)</span>
        </ion-button>
        <br>
        <ion-button expand="block" fill="outline" color="dark" (click)="playSound()">
            Mensaje
        </ion-button>
        <br>
        <ion-button expand="block" fill="outline" color="dark" (click)="selectImage('galeria')">
            añadir imagen
            <ion-icon slot="end" name="camera-outline"></ion-icon>
        </ion-button>
    </div>
    <ion-grid *ngIf="user.profile && user.profile.profile_images">
        <ion-row>
            <ion-col size="6" *ngFor="let image of user.profile.profile_images" style="position: relative;">
                <img src="{{image.url}}" alt="" (click)="openPreview(image.url)">
                <ion-button color="danger" class="remove-button">
                    <ion-icon name="close" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>