.img-user{    
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: white;
}

.button-edit{
    --border-radius: 100%;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    position: absolute;
    bottom: 0;
    right: 35%;
    height: 30px;
    width: 30px;
}

@media(min-width: 768px){
    .button-edit{
        right: 42%;
        height: 40px;
        width: 40px;
    }
    .img-user{    
        width: 170px;
        height: 175px;
        border-radius: 100%;
        background: white;
    }
}

.div-img-user{
    position: relative;
}

.remove-button{
    height: 20px;
    width: 20px;
    --border-radius: 100%;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    position: absolute;
    top: -5px;
    right: -5px;
}