.radio-container{
    background: white;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);    
    border-radius: 20px;    
}

.show {
    display: block !important;
}

.hidden {
    display: none;
}

.button-option{
    position: fixed; 
    bottom: 10px;
    left: 35vw;
}