<ion-content class="ion-padding">
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col size="8">
        <ion-label>
          <h1>
            <ion-icon name="location-outline" slot="start">{{ error }}</ion-icon>
            Buenos Aires, Arg
          </h1>
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <img src="../../assets/images/logo.png" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <h1 mode="ios">Iniciar Sesión</h1>
    <p>
      <ion-text color="medium">¡Bienvenido de nuevo, te extrañamos!</ion-text>
    </p>
  </div>
  <!-- <app-error-alert *ngIf="error.displayError" [error]="error"></app-error-alert>   -->
  <div>
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="stacked" color="medium">Nombre de usuario o correo electrónico</ion-label>
        <ion-input [(ngModel)]="usuario.email" name="email" type="email" required>
          <ion-icon style="margin-right: 10px" name="person-outline" slot="start"></ion-icon>
        </ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="stacked" color="medium">Contraseña</ion-label>
        <ion-input [(ngModel)]="usuario.password" name="password" type="password" required>
          <ion-icon style="margin-right: 10px" name="lock-closed-outline" slot="start"></ion-icon>
        </ion-input>
      </ion-item>
      <br>
      <div class="ion-text-center">
        <a routerLink="/new-password" routerDirection="forward">
          <ion-text color="medium">
            <b>¿Haz olvidado tu contraseña?</b>
          </ion-text>
        </a>
      </div>
      <br>
      <ion-button mode="ios" expand="full" color="primary" shape="round" class="ion-margin-top" type="submit">
        Iniciar Sesión
        <ion-icon name="log-in-outline" slot="end"></ion-icon>
      </ion-button>
      <p class="ion-text-center">
        <ion-text color="medium">¿No tienes una cuenta? <a style="color: gray;"
            (click)="goToRegister()"><b>Regístrate</b></a></ion-text>
      </p>
    </form>
  </div>
  <br>
  <div class="line line-medium ion-margin-bottom"></div>
  <br>
  <div>
    <ion-button expand="block" shape="round" class="boton-facebook" (click)="logFacebook()">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Conectate con Facebook
    </ion-button>
    <br>
    <ion-button color="danger" expand="block" shape="round" fill="outline" (click)="logGoogle()">
      <ion-icon name="logo-google"></ion-icon>
      Conectate con Google
    </ion-button>
  </div>
</ion-content>