ion-tab-button{
    --color-focused: var(--ion-color-primary);
    --color-selected: var(--ion-color-primary);
}

.button_add{
    background: linear-gradient(to left, var(--ion-color-secondary), var(--ion-color-primary)) !important;
    padding: 3px 10px;
    border-radius: 15px;
    color: white;
}
