<app-top-bar></app-top-bar>

<ion-content class="ion-padding">
  <h1>Mis descartados</h1>
  <ion-grid class="ion-padding">      
    <ion-row style="position: relative;" class="ion-activatable ripple-parent" *ngFor="let producto of descartados">
      <ion-col size="5" class="ion-align-self-center">
        <img class="img-list" src="{{producto.imagenes[0]}}" alt="">
      </ion-col>
      <ion-col size="6" class="ion-align-self-center">          
        <h4 style="margin: 0;"><ion-text color="dark">{{producto.nombre}}</ion-text></h4>

        <div class="atribute-container" *ngIf="producto.banos" style="display: flex; align-items: center;">
          <img class="img-icon-start" src="../../assets/icon/banos.PNG" alt="">
          <p><ion-text color="medium">Baños: {{producto.banos}}</ion-text></p>
        </div>          

        <div class="atribute-container" *ngIf="producto.m2" style="display: flex; align-items: center;">
          <img class="img-icon-start" src="../../assets/icon/M2.PNG" alt="">
          <p><ion-text color="medium">{{producto.m2}}m2</ion-text></p>
        </div>

        <div class="atribute-container" *ngIf="producto.tipoDeVivienda" style="display: flex; align-items: center;">
          <img class="img-icon-start" src="../../assets/icon/propiedad.PNG" alt="">
          <p><ion-text color="medium">{{producto.tipoDeVivienda.nombre}}</ion-text></p>
        </div>
        
        <div class="price-container" *ngIf="producto.precio">
          <p class="price"><ion-text color="secondary">${{producto.precio}}</ion-text></p>
          <ion-button color="dark" fill="clear">
            219 <ion-icon slot="end" name="heart" color="danger"></ion-icon>
          </ion-button>            
        </div>
      </ion-col>
      <ion-col size="1" class="ion-align-self-center">
        <ion-button class="no-padding" fill="clear" color="dark">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-col>
      <div class="cover cover-light"></div>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-row>
  </ion-grid>
</ion-content>
