<ion-content class="ion-text-center contenedor">
  <div style="display: flex; height: 100%;">
    <div style="margin: auto;">      
      
      
      <ion-button *ngIf="!guardarBusqueda" [disabled]="!canSave" color="secondary" class="sombra_no"
        (click)="saveSearch()">
        Guardar Búsqueda
      </ion-button>
      <ion-button *ngIf="guardarBusqueda" color="secondary" class="sombra_no" (click)="closeModal()">
        ¡Búsqueda Guardada!
      </ion-button>
    </div>
  </div>
</ion-content>