<app-top-bar></app-top-bar>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar mode="ios" (ionInput)="filtrar($event)" placeholder="buscar..."></ion-searchbar>
  <div class="ion-padding">

    <ion-grid *ngIf="filtro.length > 0">
      <ion-row>
        <ion-col size="12">
          <h3>
            <ion-text color="dark">Todos los resultados</ion-text>
          </h3>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let producto of filtro" class="animate__animated animate__fadeInUp">
        <ion-col size="5" class="ion-align-self-center">
          <img class="img-list" src="{{producto.images[0].url}}" alt="" (click)="openProduct(producto)">
        </ion-col>
        <ion-col style="position: relative;" size="7" class="ion-align-self-center ion-activatable ripple-parent"
          (click)="openProduct(producto)">
          <h4 style="margin: 0;">
            <ion-text color="dark">{{(producto.name.length>20)? (producto.name | slice:0:20)+'...':(producto.name)}}
            </ion-text>
          </h4>

          <div class="atribute-container" *ngIf="producto.bathrooms" style="display: flex; align-items: center;">
            <img class="img-icon-start" src="../../assets/icon/medium/banos.png" alt="">
            <p>
              <ion-text color="medium">Baños: {{producto.bathrooms}}</ion-text>
            </p>
          </div>

          <div class="atribute-container" *ngIf="producto.square_meters" style="display: flex; align-items: center;">
            <img class="img-icon-start" src="../../assets/icon/medium/m2.png" alt="">
            <p>
              <ion-text color="medium">{{producto.square_meters}}m2</ion-text>
            </p>
          </div>

          <div class="atribute-container" *ngIf="producto.type" style="display: flex; align-items: center;">
            <img class="img-icon-start" src="../../assets/icon/medium/propiedad.png" alt="">
            <p>
              <ion-text color="medium">{{producto.type?.name}}</ion-text>
            </p>
          </div>

          <div class="price-container" *ngIf="producto.prices">
            <p class="price">
              <ion-text color="secondary">
                {{findPrice(producto.prices)?.currency?.code}}
                {{findPrice(producto.prices)?.price_value?.toLocaleString('de-DE')}}
              </ion-text>
            </p>
            <ion-button *ngIf="!producto.is_favorite" color="dark" fill="clear" (click)="addToFavorite(producto)">
              {{producto.favorite_to_count}} <ion-icon slot="end" name="heart-outline" color="danger"></ion-icon>
            </ion-button>
            <ion-button *ngIf="producto.is_favorite" color="dark" fill="clear" (click)="removeFromFavorite(producto)">
              {{producto.favorite_to_count}} <ion-icon slot="end" name="heart" color="danger"></ion-icon>
            </ion-button>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-infinite-scroll position="bottom" threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="lines" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>