ion-header{
    background-color: var(--ion-color-primary);
    background-image: url(../../assets/images/circles.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider-img{
    height: 30vh;
    max-height: 400px;
}

.custom-bullets{
    width: 50px !important;
    height: 50px !important;
    background: white;
}

.img-icon-start{
    width: 30%;
    margin-right: 10px;
}

.img-height{
    height: 18vh;
}

.img-full{
    width: 100vw;
    height: 25vh;
}

.img-1, .img-4{
    width: 40%;
}

.img-2, .img-3{
    width: 60%;
}

.img-icon{
    width: 50%;
    max-width: 80px;
}

.attribute-description{
    font-size: 4vw;
}

@media(min-width: 768px){    
    .attribute-description{
        font-size: inherit;
    }
}