<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar class="b_transparent">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="closeModal()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <img class="img-logo-menu ion-margin-top" src="../../../assets/images/logo.png" alt="">

    <ion-buttons slot="end">
      <ion-button color="light" (click)="playSound()">
        <ion-icon name="notifications-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides #sliderRef pager="true" class="slider-img" [options]="slideOpts">
    <ion-slide *ngFor="let image of producto.images" style="background: url({{image.url}}); background-size: 100% 100%;"
      (click)="openPreview(image.url)">
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col *ngIf="producto.rooms" class="ion-text-center ion-align-self-end">
        <img class="img-icon" src="../../assets/icon/habitaciones.PNG" alt="">
        <p class="attribute-description">
          <ion-text color="medium">{{producto.rooms}} Habitaciones</ion-text>
        </p>
      </ion-col>
      <ion-col *ngIf="producto.bathrooms" class="ion-text-center ion-align-self-end">
        <img class="img-icon" src="../../assets/icon/banos.PNG" alt="">
        <p class="attribute-description">
          <ion-text color="medium">{{producto.bathrooms}} Baños</ion-text>
        </p>
      </ion-col>
      <ion-col *ngIf="producto.square_meters" class="ion-text-center ion-align-self-end">
        <img class="img-icon" src="../../assets/icon/M2.PNG" alt="">
        <p class="attribute-description">
          <ion-text color="medium">{{producto.square_meters}} m2</ion-text>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center">
    <p>
      <ion-text color="medium"><b>{{producto.address.address}}</b>
      </ion-text>
    </p>
    <ion-button color="secondary" shape="round" fill="clear" size="large" (click)="playSound();">
      <ion-icon name="location-outline" slot="start"></ion-icon>
      ver en mapa
    </ion-button>
  </div>

  <div class="ion-text-center">
    <ion-chip color="secondary" *ngFor="let feature of producto.features">
      <ion-label color="secondary">{{feature.name}}</ion-label>
    </ion-chip>
  </div>

  <!--CONTENEDOR DE LAS CARACTERISTICAS BASICAS-->
  <div class="ion-padding">
    <h2>
      <ion-text color="medium">Características Básicas</ion-text>
    </h2>
    <ion-grid>
      <!--Fila de tipo de Propiedad-->
      <ion-row *ngIf="producto.type" class="ion-align-items-center">
        <ion-col style="display: flex; align-items: center;">
          <img class="img-icon-start" src="../../assets/icon/propiedad.PNG" alt="">
          <ion-label color="medium">
            <h3>Tipo de propiedad:</h3>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-text color="medium">{{producto.type.name}}.</ion-text>
        </ion-col>
      </ion-row>

      <!--Fila de Estado-->
      <ion-row *ngIf="producto.status" class="ion-align-items-center">
        <ion-col style="display: flex; align-items: center;">
          <img class="img-icon-start" src="../../assets/icon/estado.PNG" alt="">
          <ion-label color="medium">
            <h3>Estado:</h3>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-text color="medium">{{producto.status.name}}.</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="line line-medium"></div>

  <!--CONTENEDOR DE LA DESCRIPCION-->
  <div class="description-container ion-padding">
    <h4>
      <ion-text color="medium"><b>Descripción</b></ion-text>
    </h4>
    <p>
      <ion-text color="medium">{{producto.description}}</ion-text>
    </p>
  </div>

  <!--CONTENEDOR DE LAS images-->
  <div style="display: flex;">
    <!--Si solo hay una imagen-->
    <div *ngIf="producto.images.length == 1">
      <img class="img-full" src="{{producto.images[0].url}}" alt="" (click)="openPreview(producto.images[0].url)">
    </div>

    <!--Si hay 2 images-->
    <div *ngIf="producto.images.length == 2">
      <img class="img-height img-1" src="{{producto.images[0].url}}" alt=""
        (click)="openPreview(producto.images[0].url)">
      <img class="img-height img-2" src="{{producto.images[1].url}}" alt=""
        (click)="openPreview(producto.images[1].url)">
    </div>

    <!--Si hay 3 images-->
    <div *ngIf="producto.images.length == 3">
      <img class="img-height img-1" src="{{producto.images[0].url}}" alt=""
        (click)="openPreview(producto.images[0].url)">
      <img class="img-height img-2" src="{{producto.images[1].url}}" alt=""
        (click)="openPreview(producto.images[1].url)">
      <img class="img-full" src="{{producto.images[2].url}}" alt="" (click)="openPreview(producto.images[2].url)">
    </div>

    <!--Si hay 4 images o mas-->
    <div *ngIf="producto.images.length > 3" class="ion-text-center">
      <img class="img-height img-1" src="{{producto.images[0].url}}" alt=""
        (click)="openPreview(producto.images[0].url)">
      <img class="img-height img-2" src="{{producto.images[1].url}}" alt=""
        (click)="openPreview(producto.images[1].url)">
      <img class="img-height img-3" src="{{producto.images[2].url}}" alt=""
        (click)="openPreview(producto.images[2].url)">
      <img class="img-height img-4" src="{{producto.images[3].url}}" alt=""
        (click)="openPreview(producto.images[3].url)">

      <ion-button color="primary" spand="block" fill="clear" (click)="playSound();">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        Ver las {{producto.images.length}} imágenes
      </ion-button>
    </div>
  </div>

  <div class="line line-medium"></div>

  <!--CONTENEDOR DEL PRECIO-->
  <div class="price-container ion-padding">
    <h4>
      <ion-text color="medium"><b>Información del precio</b></ion-text>
    </h4>
    <ion-grid>
      <!--Fila de tipo de Info de Precio-->
      <ion-row *ngIf="producto.prices" class="ion-align-items-center">
        <ion-col style="display: flex; align-items: center;">
          <img class="img-icon-start" src="../../assets/icon/price.PNG" alt="">
          <ion-label color="medium">
            <h3>Precio:</h3>
          </ion-label>
        </ion-col>
        <ion-col>
          <p *ngFor="let price of producto.prices">
            <ion-text color="medium">{{price.price_value.toLocaleString('de-DE')}} - {{price.currency.code}} </ion-text>
          </p>
        </ion-col>
      </ion-row>

      <!--Fila de Estado-->
      <!-- <ion-row *ngIf="producto.estado" class="ion-align-items-center">
        <ion-col style="display: flex; align-items: center;">
          <img class="img-icon-start" src="../../assets/icon/price-comunity.PNG" alt="">
          <ion-label color="medium">
            <h3>Gastos de comunidad incluidos.</h3>
          </ion-label>
        </ion-col>
        <ion-col></ion-col>
      </ion-row> -->
    </ion-grid>
  </div>

  <div class="line line-medium"></div>

  <!--CONTENEDOR DE LA UBICACION-->
  <div class="address-container ion-padding">
    <h4>
      <ion-text color="medium"><b>Ubicación</b></ion-text>
    </h4>

    <p>
      <ion-text color="medium">
        <span *ngIf="producto.type">{{producto.type.name}}</span> <span *ngIf="producto.address"> en
          {{producto.address.address}}</span> <br>
        <span *ngIf="producto.address.city">{{producto.address.city.name}}</span><span
          *ngIf="producto.address.city && producto.address.state">, </span> <span
          *ngIf="producto.address.state">{{producto.address.state.name}}</span>.
      </ion-text>
    </p>
  </div>
  <div #map style="min-height: 250px;">

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="playSound()">
      <ion-icon name="options"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="matchear()">
        <ion-icon color="success" name="checkmark"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="descartar()">
        <ion-icon name="close" color="danger"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="!producto.is_favorite" (click)="addToFavorite(producto)">
        <ion-icon name="heart-outline" color="danger"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="producto.is_favorite" (click)="removeFromFavorite(producto)">
        <ion-icon name="heart" color="danger"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openShared()">
        <ion-icon name="share-social" color="secondary"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>