ion-header{
    background-color: var(--ion-color-primary);
    background-image: url(../../../assets/images/circles.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;    
}