<ion-content class="ion-padding">
  <p class="ion-text-center">
    <ion-text color="primary">
      BROKA.
    </ion-text>
  </p>

  <p class="ion-text-center">
    <ion-text color="medium">
      No se preocupe, restablecer su contraseña es fácil, solo escriba el correo electrónico que registró en broka.
    </ion-text>    
  </p>

  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating" color="medium">
        <ion-icon style="font-size: 20px;" name="person-outline" slot="start"></ion-icon>
        Nombre de usuario o correo electrónico
      </ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>
    
    <ion-button mode="ios" expand="full" shape="round" class="color_primario ion-margin-top" type="submit">
      Enviar
      <ion-icon name="mail-outline" slot="end"></ion-icon>
    </ion-button>    
  </form>

  <br>

  <p class="ion-text-center">
    <ion-text color="medium">
      ¿Recordaste tu contraseña? <a routerLink="/login" routerDirection="forward"><ion-text color="primary">Intenta iniciar sesión.</ion-text></a>
    </ion-text>    
  </p>  
</ion-content>
