<ion-content class="ion-padding" fullscreen="true">
  <ion-slides pager="true" mode="ios">
    <ion-slide class="ion-text-center">
      <div>
        <img src="../../assets/images/introduction1.png" alt="">
        <h1>Bienvenido</h1>
        <p>
          <ion-text color="medium">
            <b>Broka</b> es una app de inmobiliaria donde podras encontrar
            todo tipo de inmuebles, con una infinita cantidad de filtros
            que te ayudaran a buscar desde el mas cercano hasta el mas grande.
          </ion-text>
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/introduction2.PNG" alt="">
        <h1>Ahorra Dinero y tiempo</h1>
        <p>
          <ion-text color="medium">
            Con <b>Broka</b> ahorras tiempo y dinero ya que la aplicacion te permite filtrar los
            inmuebles mas cercanos a tu ubicación y ordenarlos desde el mas ecónomico hasta el mas
            costoso, asi como tambien te permite filtrar los que estan en venta o en alquiler.
          </ion-text>
        </p>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/introduction3.png" alt="">
        <h1>¿Listo para empezar?</h1>
        <br>
        <br>
        <ion-button class="animate__animated animate__pulse animate__infinite" fill="outline" routerLink="/tabs" routerDirection="forward">
          Empezar
          <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>