<ion-app>
  <ion-menu swipeGesture="false" side="end" menuId="first" contentId="main" (ionWillOpen)="updateUser()">
    <ion-content>
      <div class="menu-header-bg"></div>
      <ion-menu-toggle>
        <div class="header-content" routerLink="tabs/tabs/usuario" routerDirection="forward" (click)="playSound()">
          <img *ngIf="user.profile && user.profile.image; else invitadoImg" src="{{user.profile.image}}">
          <ng-template #invitadoImg>
            <ion-icon name="person-circle-outline" class="img-user" color="light">
            </ion-icon>
          </ng-template>
          <ion-label color="light">
            <h2 *ngIf="user.profile && user.profile.firstname && user.profile.lastname; else invitadoName">
              {{user.profile.firstname}} {{user.profile.lastname}}
            </h2>
            <ng-template #invitadoName>
              <h2>Invitado</h2>
            </ng-template>
            <p>{{user.email}}</p>
          </ion-label>
        </div>        
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item mode="md" *ngFor="let page of pages" button lines="none" (click)="playSound()"
          routerLink="{{page.url}}" routerDirection="forward" [class.active]="selectedPath === page.url">
          <ion-icon name="{{page.icon}}" slot="start"></ion-icon>
          <ion-label>{{page.name}}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item mode="md" button lines="none" (click)="logOut()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>