.filtros-container {
    background: url("../../assets/images/fondo-filtros.png");
    background-size: 100% 100%;
    background-position: center center;
    height: 100%;    
}

.logo-img{
    max-width: 40%;
    margin-top: 1%;
    position: absolute;
    top: 0;
    z-index: 10;
    left: 30%;
}

h2{
    text-transform: uppercase;
}

.button-back{
    position: absolute; 
    top: 0; 
    left: 0;
    z-index: 99;
}

.hello .alert-wrapper {
    background: black;
}
