<ion-content>

  <img src="../../assets/images/logo-completo.png" class="logo-img">

  <ion-slides #filtrosslider [options]="slidesOpts" class="filtros-container">
    <!--TIPO DE CONTRATO-->
    <ion-slide class="ion-padding">
      <h2 class="ion-text-center">
        <ion-text color="primary">
          ¿Que estas buscando?
        </ion-text>
      </h2>
      <ion-button class="animate__animated animate__fadeIn animate__faster" expand="block"
        *ngFor="let contractType of contractTypes" (click)="setcontractType(contractType.id)" style="width: 100%;">
        {{contractType.name}}
        <ion-icon name="checkmark-circle" slot="end" color="success"
          *ngIf="filtros.contractType.includes(contractType.id)"></ion-icon>
      </ion-button>
    </ion-slide>

    <!--TIPO DE PROPIEDAD-->
    <ion-slide class="ion-padding">
      <ion-button class="button-back" fill="clear" color="primary" mode="md" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <h2 class="ion-text-center">
        <ion-text color="primary">
          ¿QUE TIPO DE PROPIEDAD BUSCAS?
        </ion-text>
      </h2>
      <ion-button expand="block" *ngFor="let type of propertyTypes" (click)="setpropertyType(type.id)"
        style="width: 100%;">
        {{type.name}}
        <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="filtros.type.includes(type.id)"></ion-icon>
      </ion-button>
    </ion-slide>

    <!--AMBIENTES-->
    <!-- <ion-slide style="display: block;" class="ion-padding">
      <ion-button class="button-back" fill="clear" color="primary" mode="md" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <h2 class="ion-text-center">
        <ion-text color="primary">
          ¿DE CUANTOS AMBIENTES?
        </ion-text>
      </h2>
      <app-select-multiple (change)="handleEnviromentsChange($event)" numberOptions="6" color="primary" size="normal">
      </app-select-multiple>
      <br>
      <div class="ion-text-center">
        <ion-button (click)="slideNext()">
          aceptar
        </ion-button>
      </div>
    </ion-slide> -->

    <!--LUGAR-->
    <ion-slide class="ion-padding">
      <ion-button class="button-back" fill="clear" color="primary" mode="md" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <h2 class="ion-text-center">
        <ion-text color="primary">
          ¿EN DONDE?
        </ion-text>
      </h2>

      <br>

      <ion-button expand="block" (click)="slideNext()">Seleccionar Direccion</ion-button>

      <br>

      <ion-button expand="block" (click)="goToMap()">Abrir mapa</ion-button>
    </ion-slide>

    <!-- Direccion -->
    <ion-slide style="height: 100%;">
      <ion-button class="button-back" fill="clear" color="primary" mode="md" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <div style="margin-top: 50%;">
        <ion-item lines="none" class="select-address">
          <ion-select placeholder="Provincias" [(ngModel)]="filtros.state" (ionChange)="setState()">
            <ion-select-option [value]="'todas'">Provincias</ion-select-option>
            <ion-select-option *ngFor="let provincy of provincies" [value]="provincy.name">{{provincy.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="select-address" *ngIf="filtros.state != 'todas'" lines="none">
          <ion-select [(ngModel)]="filtros.city">
            <ion-select-option [value]="'todas'">Partidos</ion-select-option>
            <ion-select-option *ngFor="let partido of partidos" [value]="partido.name">{{partido.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="setStateCity()">
          aceptar
        </ion-button>
      </div>
    </ion-slide>

    <!-- MAPA -->
    <ion-slide style="position: relative">
      <ion-button class="button-back" fill="clear" color="primary" mode="md" (click)="goBack(null, true)">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <app-google-map [productsForMarkers]="inmuebles"></app-google-map>
      <!-- <div style="height: 100%;" #googlemaps2></div> -->
    </ion-slide>

    <!--PRECIO Y MONEDA-->
    <ion-slide style="display: block;" class="ion-padding">
      <ion-button class="button-back" fill="clear" color="primary" mode="md" (click)="goBack(null, true)">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>

      <div style="margin: auto;">
        <h2 class="ion-text-center">
          <ion-text color="primary">
            ¿QUE PRECIOS BUSCAS?
          </ion-text>
        </h2>
        <ion-grid *ngIf="currencies.length > 0">
          <ion-row>
            <ion-col size="12">
              <ion-segment [(ngModel)]="filtros.currency" class="ion-justify-content-evenly" mode="md" scrollable>
                <ion-segment-button class="segment-button segment-button-normal segment-button-secondary"
                  *ngFor="let currency of currencies; let i = index" [value]="currency.id">
                  <ion-label>
                    <span>{{currency.code}}</span>
                  </ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="12">
              <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
                <div class="input-price-container">
                  <input placeholder="Desde" [(ngModel)]="filtros.priceBetween[0]" min="1" class="input-price"
                    type="number">
                </div>
                <div class="input-price-container">
                  <input placeholder="Hasta" [(ngModel)]="filtros.priceBetween[1]" min="1" class="input-price"
                    type="number">
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="ion-text-center">
          <ion-button (click)="setPricesBetween()">
            aceptar
          </ion-button>
        </div>
      </div>

      <!-- <ion-item lines="none" style="width: 100%;">
        <ion-label position="floating" color="secondary">
          Moneda
        </ion-label>
        <ion-select [(ngModel)]="filtros.currency" (ionChange)="setCurrency()">
          <ion-select-option *ngFor="let price of minMaxRange.prices" [value]="price.id">{{price.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <p>{{pricesBetween.lower.toLocaleString('de-DE')}} - {{pricesBetween.upper.toLocaleString('de-DE')}}</p>
      <ion-item lines="none" style="width: 100%;">
        <ion-range dualKnobs="true" [min]="rangesPrices.min" [max]="rangesPrices.max" [step]="steps" pin="true"
          [(ngModel)]="pricesBetween"></ion-range>
      </ion-item>
      <ion-button (click)="setPricesBetween()">
        aceptar
      </ion-button> -->
    </ion-slide>

  </ion-slides>

</ion-content>