<ion-content>  
  
  <img src="../../assets/images/logo-completo.png" class="logo-img">  

  <ion-slides #filtrosslider [options]="slidesOpts" class="filtros-container">    
    <!--TIPO DE CONTRATO-->
    <ion-slide style="flex-direction: column;" class="ion-padding">
      <h2 class="ion-text-center">
        <ion-text color="primary">
          ¿Que estas buscando?
        </ion-text>
      </h2>
      <ion-button class="animate__animated animate__fadeIn animate__faster" expand="block" *ngFor="let contractType of contractTypes" (click)="setcontractType(contractType.id)" style="width: 100%;">
        {{contractType.name}}
        <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="filtros.contractType.includes(contractType.id)"></ion-icon>
      </ion-button>
    </ion-slide>
    
    <!--TIPO DE PROPIEDAD-->
    <ion-slide style="flex-direction: column;" class="ion-padding">
      <ion-button class="button-back" fill="clear" color="primary" mode="md" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <h2 class="ion-text-center">
        <ion-text color="primary">
          ¿QUE TIPO DE PROPIEDAD BUSCAS?
        </ion-text>
      </h2>
      <ion-button expand="block" *ngFor="let type of propertyTypes" (click)="setpropertyType(type.id)" style="width: 100%;">
        {{type.name}}
        <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="filtros.type.includes(type.id)"></ion-icon>
      </ion-button>
    </ion-slide>

    <!--AMBIENTES-->
    <ion-slide style="flex-direction: column;" class="ion-padding">
      <ion-button class="button-back" fill="clear" color="primary" mode="md" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <h2 class="ion-text-center">
        <ion-text color="primary">
          ¿DE CUANTOS AMBIENTES?
        </ion-text>
      </h2>
      <p>{{environmentsBetween.lower}} - {{environmentsBetween.upper}}</p>
      <ion-item lines="none" style="width: 100%;">
        <ion-range dualKnobs="true" [min]="minMaxRange.environments.min" [max]="minMaxRange.environments.max" step="1" snaps="true" [(ngModel)]="environmentsBetween"></ion-range>
      </ion-item>
      <ion-button (click)="setEnvironmentsBetween()">
        aceptar
      </ion-button>
    </ion-slide>

    <!--LUGAR-->
    <ion-slide style="flex-direction: column;" class="ion-padding" *ngIf="!radiusActivated">
      <ion-button class="button-back" fill="clear" color="primary" mode="md" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <h2 class="ion-text-center">
        <ion-text color="primary">
          ¿EN DONDE?
        </ion-text>
      </h2>      
      <ion-item lines="none" style="width: 100%;">
        <ion-label position="floating" color="secondary">
          Provincia
        </ion-label>
        <ion-select [(ngModel)]="filtros.state" (ionChange)="setState()">
          <ion-select-option [value]="0">todas</ion-select-option>
          <ion-select-option *ngFor="let provincy of provincies" [value]="provincy.id">{{provincy.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="filtros.state != 0" lines="none" style="width: 100%;">
        <ion-label position="floating" color="secondary">
          Partido
        </ion-label>
        <ion-select [(ngModel)]="filtros.city">
          <ion-select-option [value]="0">todos</ion-select-option>
          <ion-select-option *ngFor="let partido of partidos" [value]="partido.id">{{partido.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="setStateCity()">
        aceptar
      </ion-button>
    </ion-slide>

    <!--PRECIO Y MONEDA-->
    <ion-slide style="flex-direction: column;" class="ion-padding">
      <ion-button class="button-back" fill="clear" color="primary" mode="md" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <h2 class="ion-text-center">
        <ion-text color="primary">
          ¿QUE PRECIOS BUSCAS?
        </ion-text>
      </h2>      
      <ion-item lines="none" style="width: 100%;">
        <ion-label position="floating" color="secondary">
          Moneda
        </ion-label>
        <ion-select [(ngModel)]="filtros.currency" (ionChange)="setCurrency()">          
          <ion-select-option *ngFor="let price of minMaxRange.prices" [value]="price.id">{{price.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <p>{{pricesBetween.lower.toLocaleString()}} - {{pricesBetween.upper.toLocaleString()}}</p>
      <ion-item lines="none" style="width: 100%;">
        <ion-range dualKnobs="true" [min]="rangesPrices.min" [max]="rangesPrices.max" [step]="steps" pin="true" [(ngModel)]="pricesBetween"></ion-range>
      </ion-item>
      <ion-button (click)="setPricesBetween()">
        aceptar
      </ion-button>      
    </ion-slide>

  </ion-slides>

</ion-content>