<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="clearFilters()">
        limpiar
      </ion-button>
    </ion-buttons>
    <ion-title>Filtros</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        Aceptar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar mode="ios">
    <ion-segment style="width: 100%;" [(ngModel)]="showSegment" color="primary">
      <ion-segment-button value="filtros">
        <ion-label>Filtros</ion-label>
      </ion-segment-button>
      <ion-segment-button value="guardados">
        <ion-label>Guardados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="showSegment == 'filtros'">

    <ion-chip *ngIf="filtros.radius" color="primary" (click)="removeRadius()">
      <ion-label>Radio: {{filtros.radius[0]}}Km</ion-label>
      <ion-icon name="close-circle" color="danger"></ion-icon>
    </ion-chip>

    <ion-chip *ngIf="filtros.within" color="primary" (click)="removeAreaCustom()">
      <ion-label>Area personalizada</ion-label>
      <ion-icon name="close-circle" color="danger"></ion-icon>
    </ion-chip>

    <ion-chip *ngIf="
      filtros.priceBetween && 
      filtros.priceBetween.length > 0 &&
      filtros.priceBetween[0] !== null &&
      filtros.priceBetween[1] !== null &&
      filtros.priceBetween[1] > 0" color="primary" (click)="removePrice()">
      <ion-label>desde {{filtros.priceBetween[0]}} hasta {{filtros.priceBetween[1]}}</ion-label>
      <ion-icon name="close-circle" color="danger"></ion-icon>
    </ion-chip>

    <ion-chip *ngIf="selectedCurrency" color="primary" (click)="removeCurrency()">
      <ion-label>Moneda: {{selectedCurrency.name}}</ion-label>
      <ion-icon name="close-circle" color="danger"></ion-icon>
    </ion-chip>

    <ion-chip *ngIf="selectedContract" color="primary" (click)="removeContract()">
      <ion-label>{{selectedContract.name}}</ion-label>
      <ion-icon name="close-circle" color="danger"></ion-icon>
    </ion-chip>

    <ion-chip *ngIf="selectedType" color="primary" (click)="removeType()">
      <ion-label>{{selectedType.name}}</ion-label>
      <ion-icon name="close-circle" color="danger"></ion-icon>
    </ion-chip>

    <div *ngIf="filtros.city && filtros.city.length > 0">
      <ion-chip *ngFor="let address of filtros.city" color="primary" (click)="removeAddress(address)">
        <ion-label>{{address?.state?.name? address.state.name + ',' : null}} {{address.name}}</ion-label>
        <ion-icon name="close-circle" color="danger"></ion-icon>
      </ion-chip>
    </div>

    <div *ngIf="filtros.bathrooms && filtros.bathrooms.length > 0">
      <ion-chip *ngFor="let bathroom of filtros.bathrooms" color="primary" (click)="removeBathrooms(bathroom)">
        <ion-label>{{bathroom > 1 ? bathroom >= 6 ? bathroom + ' o más Baños' : bathroom + ' Baños' : bathroom + '
          Baño'}}</ion-label>
        <ion-icon name="close-circle" color="danger"></ion-icon>
      </ion-chip>
    </div>

    <div *ngIf="filtros.rooms && filtros.rooms.length > 0">
      <ion-chip *ngFor="let room of filtros.rooms" color="primary" (click)="removeRooms(room)">
        <ion-label>{{room > 1 ? room >= 6 ? room + ' o más Habitaciones' : room + ' Habitaciones' : room + '
          Habitación'}}</ion-label>
        <ion-icon name="close-circle" color="danger"></ion-icon>
      </ion-chip>
    </div>


    <app-select-address shape="round" color="secondary" (onChange)="setAddress($event)" label="Dirección:"
      searchPlaceHolder="Ej. Buenos Aires, Bolivar..." mode="ios" [items]="cities" (onSearch)="findCities($event)">
    </app-select-address>

    <div class="line line-medium ion-margin-vertical"></div>

    <ion-segment *ngIf="filtros.contractType" mode="md" scrollable [(ngModel)]="filtros?.contractType[0]"
      (ionChange)="changeContractType()">
      <ion-segment-button *ngFor="let contractType of contractTypes" [value]="contractType?.id">
        <img style="max-width: 20%;" [src]="contractType?.image" alt="">
        <ion-label>{{contractType?.name}}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="line line-medium ion-margin-vertical"></div>

    <h6>
      Tipo de propiedad
    </h6>
    <ion-item detail>
      <ion-select (ionChange)="changePropertyType()" placeholder="Seleccionar" [(ngModel)]="filtros.type[0]">
        <ion-select-option *ngFor="let propertyType of propertyTypes" [value]="propertyType.id">
          <ion-label>
            {{propertyType.name}}
          </ion-label>
        </ion-select-option>
      </ion-select>
    </ion-item>

    <h6>
      Habitaciones
    </h6>
    <app-select-multiple [values]="filtros.rooms" (change)="handleRoomsChange($event)" numberOptions="6" color="primary"
      size="normal">
    </app-select-multiple>

    <h6>
      Baños
    </h6>
    <app-select-multiple [values]="filtros.bathrooms" (change)="handleBathroomsChange($event)" numberOptions="6"
      color="primary" size="normal">
    </app-select-multiple>

    <div class="line line-medium ion-margin-vertical"></div>

    <h6>Precio</h6>
    <ion-grid *ngIf="currencies.length > 0">
      <ion-row>
        <ion-col size="12">
          <ion-segment [(ngModel)]="filtros.currency" class="ion-justify-content-evenly" mode="md" scrollable>
            <ion-segment-button (click)="setCurrency(currency)"
              class="segment-button segment-button-normal segment-button-secondary"
              *ngFor="let currency of currencies; let i = index" [value]="currency.id">
              <ion-label>
                <span>{{currency.code}}</span>
              </ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="12">
          <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
            <div class="input-price-container">
              <input placeholder="Desde" [(ngModel)]="filtros?.priceBetween[0]" min="1" class="input-price"
                type="number">
            </div>
            <div class="input-price-container">
              <input placeholder="Hasta" [(ngModel)]="filtros?.priceBetween[1]" min="1" class="input-price"
                type="number">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="line line-medium ion-margin-vertical"></div>

    <!--
    <h6>
      Ambientes
    </h6>
    <ion-segment [(ngModel)]="filtros.environmentsBetween[0]" class="ion-justify-content-between" mode="md" scrollable>
      <ion-segment-button class="segment-button segment-button-normal segment-button-primary"
        *ngFor="let enviroment of optioValues; let i = index" [value]="(i+1)">
        <ion-label>
          <span>
            {{i == 5 ? '+6' : (i + 1)}}
          </span>
        </ion-label>
      </ion-segment-button>
    </ion-segment> -->

    <div class="ion-text-center">
      <ion-button (click)="closeModal()">
        Realizar Busqueda
      </ion-button>
    </div>
  </div>
  <div *ngIf="showSegment == 'guardados'">
    guardados
  </div>
</ion-content>