/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~animate.css/animate.css";

/*Estilos Globales de la App*/

/*Estilos del select de categorias*/
.hello .alert-wrapper {
    /*color de los valores al ser seleccionados*/
    [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
        border-color: var(--ion-color-primary);
    }

    .alert-radio-inner.sc-ion-alert-md {
        background: var(--ion-color-primary);
    }

    /*color de los botones cancel y ok*/
    .alert-button.sc-ion-alert-md {
        color: var(--ion-color-primary);
    }
}

/*Estilos para el nombre del usuarion en el menu*/

.user-name {
    margin-left: 10px;
    font-size: x-large;
}

.custom-bullets {
    width: 15px;
    height: fit-content;
    font-size: 15px;
    background: white;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    width: 20px;
}

.logo-white {
    background: white;
    border-radius: 20px;
}

.full-heigth {
    min-height: 100vh;
    position: relative;
    max-width: 100%;
}

.sombra_no {
    box-shadow: none;
    --box-shadow: none;
}

.b_transparent {
    --background: transparent;
    background: transparent;
}

.color_primario2 {
    background: linear-gradient(to left, var(--ion-color-primary), var(--ion-color-secondary));
}

.color_primario {
    //background: linear-gradient(to left, #59C16A, #48C2B5);
    --background: linear-gradient(to left, var(--ion-color-primary), var(--ion-color-secondary)) !important;
    --background-activated: var(--ion-color-primary);
}

.boton-facebook {
    --background: #3a569a;
    --background-activated: #48619b;
}

@media (min-width: 320px) {
    .img-logo-menu {
        height: 80px;
        height: 80px;
    }
}

@media (min-width: 768px) {
    .img-logo-menu {
        height: 100px;
        height: 100px;
    }
}

.alertModal {
    padding: 15% 5% 120% 5% !important;
    .modal-wrapper {
        border-radius: 15px;
    }
}

.line {
    width: 100%;
    height: 1px;
}

.line-dark {
    background: #222428;
}

.line-medium {
    background: #e9e9e9;
}

.line-light {
    background: #ffffff;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
}

.cover-light {
    background: rgba(255, 255, 255, 0.5);
}

.cover-dark {
    background: rgba(0, 0, 0, 0.4);
}

.no-padding {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
}

/*Estilos para las listas*/

.customMarker {
    position: absolute;
    cursor: pointer;
    background: transparent;
    width: 80px;
    height: 80px;
    /* -width/2 */
    margin-left: -40px;
    
    /* -height + arrow */
    margin-top: -88px;
    border-radius: 100%;
    padding: 0px;
}

.img-iconxD {
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
    width: 70px;
    height: 70px;
    margin: 4px;
    border-radius: 100%;
}

.img-iconxD2{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    bottom: -3px;
    left: 28.5px;
}
