<app-top-bar></app-top-bar>

<ion-content class="ion-padding">
  <h1>Mis inmobiliarias</h1>
  <ion-grid>      
    <ion-row *ngFor="let inmobiliaria of inmobiliarias">
      <ion-col size="5" class="ion-align-self-center" (click)="openPreview(inmobiliaria.img)">
        <img class="img-list" src="{{inmobiliaria.img}}" alt="">
      </ion-col>
      <ion-col style="position: relative;" size="7" class="ion-align-self-center ion-activatable ripple-parent" (click)="openInmobiliaria(inmobiliaria)">
        <h4><ion-text color="dark">{{inmobiliaria.nombre}}</ion-text></h4>

        <div class="atribute-container" style="display: flex; align-items: center;">
          <!--<img class="img-icon-start" src="../../assets/icon/banos.PNG" alt="">-->
          <p><ion-text color="dark">carateristicas prefabricadas</ion-text></p>
        </div>          

        <div class="atribute-container" style="display: flex; align-items: center;">
          <!--<img class="img-icon-start" src="../../assets/icon/banos.PNG" alt="">-->
          <p><ion-text color="dark">carateristicas prefabricadas</ion-text></p>
        </div>

        <div class="atribute-container" style="display: flex; align-items: center;">
          <!--<img class="img-icon-start" src="../../assets/icon/banos.PNG" alt="">-->
          <p><ion-text color="dark">carateristicas prefabricadas</ion-text></p>
        </div>
        
        <div class="price-container ion-text-right">
          <ion-button color="dark" fill="clear">
            219 <ion-icon slot="end" name="heart" color="danger"></ion-icon>
          </ion-button>            
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>      
    </ion-row>
  </ion-grid>
</ion-content>
