<ion-content>
  <div class="ion-text-center full-heigth home-div ion-padding">
    <img class="logo-white" style="height: 100px; width: 100px;" src="../../assets/images/logo.png" alt="logo">
    <div class="description_container ion-padding">
      <div>
        <h2>Broka</h2>
        <p><ion-text color="medium">Conseguí la propiedad de tus sueños solo tienes que buscar la propiedad que te gusté.</ion-text></p>
      </div>
      <ion-button routerLink="/login" routerDirection="forward" mode="ios" expand="full" class="color_primario" shape="round" (click)="playSound()">
        <ion-text color="light">EMPEZAR</ion-text> 
        <ion-icon name="arrow-forward-outline" color="light" slot="end"></ion-icon>
      </ion-button>
    </div>      
  </div>
</ion-content>
