.home-div{
    background: url(./../../assets/images/fondo-login.png);
    background-size: 100% 100%;
}

.description_container{
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
}