<ion-content>
  <div class="ion-text-center full-heigth home-div ion-padding">
    <img style="max-width: 30%;" src="../../assets/images/logo.png" alt="logo">
    <div class="description_container ion-padding">
      <div>
        <img style="max-width: 40%;" src="../../assets/images/logo-completo.png" alt="logo">
        <p><ion-text color="medium">Conseguí la propiedad de tus sueños solo tienes que buscar la propiedad que te gusté.</ion-text></p>
      </div>
      <ion-button mode="ios" expand="full" color="primary" shape="round" (click)="next()">
        <ion-text color="light">EMPEZAR</ion-text> 
        <ion-icon name="arrow-forward-outline" color="light" slot="end"></ion-icon>
      </ion-button>
    </div>      
  </div>
</ion-content>
