<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="menu-buttons" *ngIf="productos.getValue().length > 0">
        <ion-grid>
            <ion-row>
                <ion-col class="ion-text-center" size="4">
                    <ion-button mode="md" size="small" fill="clear" color="light" color="light" (click)="abriFiltros()">
                        <ion-icon slot="start" name="options-outline"></ion-icon>
                        FILTRAR
                    </ion-button>
                </ion-col>
                <ion-col class="ion-text-center" size="4">
                    <ion-button mode="md" size="small" fill="clear" color="light" (click)="saveSearch()">
                        GUARDAR <br>
                        BÚSQUEDA
                    </ion-button>
                </ion-col>
                <ion-col class="ion-text-center" size="4">
                    <ion-button mode="md" size="small" fill="clear" color="light" routerLink="/map"
                        routerDirection="forward" (click)="playSound()">
                        <ion-icon slot="start" name="map-outline"></ion-icon>
                        MAPA
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="ion-text-center ion-padding" style="margin-top: 100px" *ngIf="productos.getValue().length === 0">
        <img class="house-img" style="max-width: 70%;" src="../../assets/images/house.png" alt="">
        <p>
            <ion-text color="medium">
                En este momento no tenemos inmuebles o inmobiliarias que coincidan
                con los filtros si desea puede pulsar el boton de filtros y cambiarlos
                para obtener resultados... ;)
            </ion-text>
        </p>
        <ion-button class="color_primario animate__animated animate__infinite animate__pulse" mode="ios" (click)="abriFiltros()">
            <ion-icon slot="start" name="options-outline"></ion-icon>
            Cambiar filtros
        </ion-button>
    </div>

    <ion-slides [class.hidden]="productos.getValue().length == 0" #slideHome pager="true" style="height: 100%;"
        [options]="slideOpts">
        <ion-slide *ngFor="let producto of productos | async"
            style="background: url({{producto.images[0].url}}); background-size: 100% 100%; position: relative;">
            <div class="description-container">
                <div class="ion-activatable ripple-parent" style="position: relative;" (click)="openProduct(producto)">

                    <h3 style="color: white;">{{(producto.name.length>50)? (producto.name | slice:0:50)+'...':(producto.name)}}</h3>
                    <p style="color: white; overflow: hidden; text-overflow: ellipsis;">{{(producto.description.length>60)? (producto.description | slice:0:60)+'...':(producto.description)}}</p>

                    <ion-ripple-effect></ion-ripple-effect>
                </div>
                <ion-buttons
                    style="justify-content: space-between; justify-content: space-between; position: absolute; width: 80%; bottom: 20px;">
                    <ion-button color="light" size="large" class="boton-redondo" fill="solid"
                        (click)="descartar(producto)">
                        <ion-icon slot="icon-only" color="medium" name="trash"></ion-icon>
                    </ion-button>
                    <ion-button color="light" size="large" class="boton-redondo" fill="solid" (click)="playSound()">
                        <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
                    </ion-button>
                    <ion-button color="light" size="large" class="boton-redondo" fill="solid" (click)="playSound()">
                        <ion-icon slot="icon-only" color="warning" name="star"></ion-icon>
                    </ion-button>
                    <ion-button color="light" size="large" class="boton-redondo" fill="solid" (click)="initChat(producto)">
                        <ion-icon slot="icon-only" color="success" name="checkmark"></ion-icon>
                    </ion-button>
                    <ion-button color="light" size="large" class="boton-redondo" fill="solid" routerLink="/tabs/tabs/buscar" routerDirection="forward">
                        <ion-icon slot="icon-only" color="primary" name="list"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>