ion-content{
    position: relative;
}

.hidden{
    display: none;
}

.description-container{
    position: absolute;
    bottom: 0;
    height: 40%;
    background: rgba(0,0,0, .3);
    color: white;
    text-align: left;
    padding: 10%;
    width: 100%;
    z-index: 9999;
}

.display-total{
    position: fixed; 
    top: 10%; 
    background: rgba(0, 0, 0, .5); 
    border-radius: 5px; 
    color: white; 
    left: 5%; 
    z-index: 999;
}

.menu-buttons{
    z-index: 99999999999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.boton-redondo{
    height: 50px;
    width: 50px;                
    --border-radius: 100% !important;
}

.house-img{
    animation: levitar 1.5s alternate infinite;
}

@keyframes levitar{
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(-40px);
    }
}