.img-user{
    width: 120px;
    height: 120px;
}

.redonda{
    border-radius: 100%;
    width: 120px;
    height: 120px;
}

.button-edit{
    --border-radius: 100%;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    position: absolute;
    bottom: 3px;
    left: 60%;
    height: 30px;
    width: 30px;
}


.user-info{
    ion-label{
        h3{
            margin: 15px 0;
        }
    }
}